@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  text-align: center;
}

:link {
  font-size: 25px;
  margin-left: 3%;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

body {
  background-color: rgb(94 234 212);

}
