@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  text-align: center;
}

:link {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 20%;
  flex-direction: column-reverse;
}

#link_style {
  margin-left: 40%;
}

