@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  text-align: center;
}

:link {
  font-size: 25px;
  margin-left: 3%;
}

.footer {
  position: fixed;
  width: 35%;
  bottom: 0;
  color: rgb(0, 0, 0);
  font-size: 15px;

}

body {
	background-image: linear-gradient(135deg, #f35c29 0%, #faa18d 100%);

}

p.hp{
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  
}

:link{
  text-align: center;
}

div.hp{
  margin-top: 3%;
  border: 7px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#faa18d;
    
}


p.auth{
  font-size: larger;
  color: aliceblue;
  text-align: center;
}

p.b {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2%;
  color: rgb(0, 0, 0);
}

p.a {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1%;
  color: rgb(0, 0, 0);
}

p.c{
  text-align: center;
  font-size: 15px;
  margin-top: 3%;
  font-weight: bold;
  margin-bottom: 1%;
  color: rgb(0, 0, 0);
}

div.create{
  margin-top: 2%;
 
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border: 5px solid;
    border-color:#f35c29;
    width: 70%;
    border-radius: 15%;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4%;
}

h1{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
 margin-bottom: 3%;
}

input{
  margin-bottom: 3%;
  height: 50px;
  border: 5px solid;
  border-color:#000000;

  
}

input:focus{
background-color:#faa18d;
}

textarea:focus{
  background-color:#faa18d;
}

textarea{
  height: 50px;
  border: 5px solid;
  border-color:#000000;
}

div.create_button{
  margin-top: 2%;
  width: 30%;
}

div.create_buttonv2{
  margin-top: 3%;
  width: 30%;
  display:inline-block;
  margin-left: auto;
  
}

label{
  font-size:x-large;
  font-weight: bold;
}

img{
  display: block;
  width: 10%;
  height: 90px;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.post{
  background-color: rgb(255, 255, 255);
  border: 5px solid;
  border-color:#f35c29;
  width: 70%;
  border-radius: 15%;
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
 
  
}

div.edit{
 
 
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border: 5px solid;
    border-color:#f35c29;
    width: 70%;
    border-radius: 15%;
    height: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4%;
}